doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Geddy App | This app uses Geddy.js
        meta(name="description", content="")
        meta(name="author", content="")
        meta(name="viewport", content="width=device-width")

        script(src='jquery.min.js')
        script(src='bootstrap.min.js')
        script(src='config/init.js')

        link(href='bootstrap.min.css', rel='stylesheet')
        link(href='bootstrap.responsive.min.css', rel='stylesheet')
        link(href='style.css', rel='stylesheet')
